/* Стили вкладок */
.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    background: #e0e0e0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.tab-button:hover {
    background: #d0d0d0;
}

.tab-button.active {
    background: #4CAF50;
    color: white;
}

/* Адаптация карточек под фильтрацию */
.link-card {
    display: block; /* По умолчанию все карточки видны */
    background-color: #59cff3;
    margin: 10px;
    margin-right: 70%;
    border-radius: 10px;
    span {
        padding-bottom: 20px;
    }
}


@media (max-width: 600px) {
    .tabs {
        justify-content: flex-start;
        overflow-x: auto;
        padding-bottom: 10px;        
    }
    
    .tab-button {
        flex-shrink: 0;
    }
}