        
body {
    background-color: #1E1E1E;
    color: #EEEEEE;
    font-family: Verdana;
}

.nav {
    background-color: #26353E;
    color: #EEEEEE;
    border-radius: 5px;
}

#print {
    display: none;
}

a {
    background-color: #26353E;
    color: #EEEEEE;
    text-decoration: none;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 10px;
    gap: 12px;
}

main {
    background-color: #26353E;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

header {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}








@media print {

    html, body {
        height: 297;
        width: 210;
    }

    #print{
        display: none;
    }
}

@page{
    margin: 10mm 10mm 10mm 20mm;
}

