:root {
            --primary-color: #2c3e50;
            --secondary-color: #34495e;
            --accent-color: #3498db;
            --text-color: #ecf0f1;
            --light-text: #bdc3c7;
        }
        
body {
    background-color: #f7c1c1;
    color: rgb(0, 0, 0);
    font-family: Verdana;
}

header {
    
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 10px;
    gap: 12px;
}

main {
    
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}